<div class="row">

  <div class="col-3">
    <div class="mb-4">
      <h1 class="text-white">Manage user Roles</h1>
    </div>
    <form  (ngSubmit)="onSubmit()">
      <div class="row d-flex align-items-center mb-4 pb-4 border-bottom">
        <label class="text-white" for="userSelect">Select 1 or more users</label>
        <select [(ngModel)]="selectedUserOption" name="userSelectList"  id="userSelect" class="form-select" aria-label="Choose users to change role for">
          <option [value]="user.guid" *ngFor="let user of users">{{user.firstName + ' ' + user.lastName}}</option>
        </select>
      </div>

      <div class="row d-flex align-items-center ">
        <label class="text-white" for="roleSelect">Select Role to assign</label>
        <select name="roleSelectList" [(ngModel)]="selectedRoleOption" id="roleSelect" class="form-select" aria-label="Choose which roles to give to user(s)">
          <option *ngFor="let role of userTypesKeys" [value]="role">{{userTypeLabelMapping[role]}}</option>
        </select>
        <button class="btn btn-warning bg-gradient mt-3" type="submit"><span class="text-white">Submit</span></button>
      </div>
    </form>
  </div>


  <div class="col-8 mx-4 rounded bg-gradient" style="background-color: #adb5bd">
    <div class="row justify-content-center">
      <div class="col-9 d-flex flex-column align-items-start rounded bg-warning bg-gradient">
        <span class="text-white"><h2>Your Personnel </h2></span>
        <span class="text-white"><h6> All the users in your database</h6></span>
      </div>
    </div>
    <div class="row justify-content-end m-2">
      <div class="col-4">
        <input class="form-control" type="text" name="userName" [(ngModel)]="userName" (ngModelChange)="search()"
               placeholder="Enter name to search in table">
      </div>
    </div>

    <div class="row">
      <table class="table">
        <thead>
        <th>Index</th>
        <th (click)="sort('lastName')">User Name&nbsp;<i class="fa fa-sort"></i></th>
        <th>Email</th>
        <th>Role</th>
        </thead>
        <tbody>

        <tr *ngFor="let user of users; let i = index ">
          <th scope="row">{{i}}</th>
          <td>{{user.firstName + ' ' + user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{userTypeLabelMapping[user.type]}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row d-flex align-content-between">
      <div class="col-4 justify-content-start">
        <p>caption</p>
      </div>
      <div class="col-8 d-flex justify-content-end">
        <div class="d-flex justify-content-end p-2">
          <i class="fa fa-arrow-left align-middle mx-1" (click)="decrementPagination()"></i>
          <input style="width: 15%; height: 60%;" #paginationInput [(ngModel)]="pageNumber" (ngModelChange)="paginate()">
          <i class="fa fa-arrow-right mx-1"  (click)="incrementPagination()"></i>
        </div>
      </div>

    </div>

  </div>
</div>
